$orange: #e67e22;
$green: #27ae60;
$lightgreen: #2ecc71;
$black: rgb(0, 0, 0);
$font-size: 16px;
$font-size-ratio: 1.5;

@function titleFontSize($base-size) {
    @return $base-size * $font-size-ratio;
}
@function baseFontSize($base-size) {
    @return $base-size;
}


body {
  background-color: $green;
  color: $black;
  p {
    text-align: left;
  }
  h1, h2, h3, h4 {
    color: black;
  }
  .img {
      width: 80%;
  }
  span {
    font-style: italic;
    font-weight: bold;
    font-size: baseFontSize();
    padding-bottom: 5px;
  }
  #main {
    padding: 20px;
    p {
      font-size: baseFontSize();
    }
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "icon nav nav"
    "zag zag form"
    "main main form"
    "main main podzag1"
    "main main feedbk"
    "podzag2 podzag2 feedbk"
    "img img feedbk"
    "footer footer footer";
  grid-template-columns: 10% 44% 44%;
  grid-template-rows: 10% 7% 5% 6% 20%;
  grid-gap: 1%;
  & > div {
    border: 1px solid greenyellow;
    border-radius: 10px;
    text-align: center;
    background-color: $lightgreen;
  }
}

#feedbk {
  display: grid;
  grid-template-areas:
    "img1 prof1"
    "img2 prof2"
    "img3 prof3";
  grid-template-columns: 39% 59%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 2%;
  & * {
    padding: 10px;
  }
}

#footer {
  display: grid;
  grid-template-areas:
    "shefs maneger";
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}

.icon {
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  width: 100%;
}

#img {
  display: inline-block;
  & > img {
    width: 19%;
    padding: 1%;
  }
}

#zag {
  h1 {
    font-size: titleFontSize();
  }
  &, #podzag1, #podzag2 {
    background-color: $orange;
  }
}

#nav {
  padding: 20px;

  a {
    text-decoration: none;
    color: rgb(41, 51, 44);
    background-color: $orange;
    margin-right: 20px;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }
}

#form {
  form {
    h3 {
      font-size: 1.5em;
      color: $black;
    }
  }
  @mixin showMessageStyles{
    color: darkblue;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
  #message {
    @include showMessageStyles;
  }
}