body {
    background-color:#27ae60;
    color: black;
}
.grid {
    display: grid;
    grid-template-areas:
        "icon nav nav"
        "zag zag form"
        "main main form"
        "main main podzag1"
        "main main feedbk"
        "podzag2 podzag2 feedbk"
        "img img feedbk"
        "footer footer footer";
    grid-template-columns: 10% 44% 44%;
    grid-template-rows: 10% 7% 5% 6% 20% ;
    grid-gap: 1%; 
}

.grid > div{
    border: 1px solid greenyellow;
    border-radius: 10px;
    text-align: center;
    background-color: #2ecc71;
}

#feedbk {
    display: grid;
    grid-template-areas:
        "img1 prof1"
        "img2 prof2"
        "img3 prof3";
    grid-template-columns: 39% 59%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 2%;

}
#feedbk * {
    padding: 10px;
}

#main {
    padding: 20px;
}

#footer {
    display: grid;
    grid-template-areas:
        "shefs maneger";
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}
a{
    text-decoration: none;
    color: rgb(41, 51, 44);
}
/*------------------------------------------*/
.icon {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.swing-animation {
    animation: swingAnimation 0.5s ease-in-out;
}

@keyframes swingAnimation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(-60deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

.icon{
    width: 100%;
}
/*------------------------------------------*/

