.zd2 .first  {transform: perspective(400px) rotateX(25deg);}
.zd2 .second {transform: perspective(600px) rotateY(25deg);}
.zd2 .third  {transform: perspective(600px) rotateX(25deg);}
.zd2 .fourth {transform: perspective(350px) rotateY(-25deg);}