html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p{
    font-size: 18px;
}

.celebrity-box.dop{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    flex-basis: 60%;
    margin-left: 20%
}

.celebrity-box{
    margin-left: 5%;
}

.all{
    background-color: #c59d67;
}

.forButton{
    display:flex;
    background-color: #c59d67;
    justify-content:flex-end;
    margin: 5px 30px 0px 0px
}

.change{
    margin-right:10px;
    margin-top: 20px
}

.celebrity-box.form_c{
    display:flex;
    align-items:center;
}

.celebrity-box.img{
    display:flex;
    align-items:center
}

.editdiv{
    background-color: #c59d67;
    display: flex;
    flex-direction:row
}